.slide-buttons {
    cursor: pointer;
}

.slide-buttons img {
    width: 80px;
    height: 70px;
}


@media only screen and (max-width: 420px) {

    .slide-buttons img {
        width: 50px;
        height: 40px;
    }

}