@font-face {
    font-family: "bounty";
    src: url("../assets/fonts/Always\ In\ My\ Heart.ttf") format('truetype');
}

@font-face {
    font-family: "name";
    src: url("../assets/fonts/PlayfairDisplay-Bold.ttf") format('truetype');
}

.card-template,
.card-template-2 {
    background-image: url("../assets/imgs/one-piece-wanted-poster-template-a3-150dpi.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 353px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-template-2 {
    background-image: url("../assets/imgs/poster2.png");
}

.card-template img,
.card-template-2 img {
    position: relative;
    top: 37px;
    height: 147px;
    width: 204px;
}


.name-and-bounty {
    position: relative;
    top: 38px;
    height: 128px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pirate-name {
    font-family: "name";
    font-size: 1.7rem;
    color: #4f401f;
}


.pirate-bounty {
    color: #4f401f;
    font-family: "bounty";
    font-size: 1.7rem;
    letter-spacing: 2px;
}


@media only screen and (max-width: 420px) {

    .card-template,
    .card-template-2 {
        height: 280px;
        width: 198px;
    }

    .card-template img,
    .card-template-2 img {
        position: relative;
        top: 17.8px;
        height: 116px;
        width: 160px;
    }

    .name-and-bounty {
        top: 30px;
        height: 80px;
    }

    .pirate-name {
        font-size: 1.3rem;
    }

    .pirate-bounty {
        font-size: 1.3rem;
        letter-spacing: 0.5px;
    }

}