* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/imgs/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

@media only screen and (max-width: 420px) {
  main {
    gap: 30px;
  }
}